<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanlien.multigallery">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:theme="@style/Theme.Basic"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true">

        <activity android:name=".MainGalleryActivity"
            android:theme="@style/Theme.Basic.NoActionBar"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>
</manifest>